---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="mb-6 flex items-center justify-between" transition:name="header">
  <nav class="flex items-center gap-4">
    <a href="/"> home </a>
    <a href="/posts"> posts </a>
    <a href="/buy-art"> buy art </a>
  </nav>
  <ThemeToggle />
</header>

